// Creates the default typography settings
$headerSizes: (
        h1: ($fz-h1*0.8, $fz-h1),
        h2: ($fz-h2*0.8, $fz-h2),
        h3: ($fz-h3*0.8, $fz-h3),
        h4: ($fz-h4*0.8, $fz-h4),
        h5: ($fz-h5*0.8, $fz-h5),
        h6: ($fz-h6*0.8, $fz-h6),
);

@include respTypo($headerSizes);

// Paragraph
p {
  line-height: $flh-normal;
  letter-spacing: $fz-normal/40;
  margin: 0;

  + p {
    margin-top: $fz-normal/1.25;
  }
}

// Link
a {
  cursor: pointer;
}

// Strong/Important
strong {
  font-weight: $fw-bold;
}

// Emphasised
em {
  font-style: italic;
}
