// Creates the default typography settings
$headerSizes: (
        h1: ($fs-h1*0.8, $fs-h1),
        h2: ($fs-h2*0.8, $fs-h2),
        h3: ($fs-h3*0.8, $fs-h3),
        h4: ($fs-h4*0.8, $fs-h4),
        h5: ($fs-h5*0.8, $fs-h5),
        h6: ($fs-h6*0.8, $fs-h6),
);

@include responsive-typography($headerSizes);

// Paragraph
p {
  line-height: $flh-normal;
  letter-spacing: $fs-normal/40;
  margin: 0;

  + p {
    margin-top: $fs-normal/1.25;
  }
}

// Link
a {
  cursor: pointer;
}

// Strong/Important
strong {
  font-weight: $fw-bold;
}

// Emphasised
em {
  font-style: italic;
}
