// stylelint-disable
// Importing fonts
@import "settings-fonts";

// Font Family
$ff-Arial: "Arial", Helvetica, sans-serif;

// Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

// Font Line Height
$flh-normal: 1.5;

// Font Sizes
// Paragraphs
$fs-small: 0.9rem;
$fs-normal: 1rem;
// Headers
$fs-h6: 1.1rem;
$fs-h5: 1.15rem;
$fs-h4: 1.2rem;
$fs-h3: 1.3rem;
$fs-h2: 1.7rem;
$fs-h1: 3rem;
