// stylelint-disable
// Importing fonts
@import "settings-fonts";

// Font Family
$ff-Arial:        "Arial", Helvetica, sans-serif;

// Font Weight
$fw-light:        300;
$fw-regular:      400;
$fw-bold:         700;

// Font Line Height
$flh-normal:      1.5;


// Font Sizes
// Paragraphs
$fz-small:        0.9rem;
$fz-normal:       1rem;
// Headers
$fz-h6:           1.1rem;
$fz-h5:           1.15rem;
$fz-h4:           1.2rem;
$fz-h3:           1.3rem;
$fz-h2:           1.7rem;
$fz-h1:           3rem;
